# The aim of this notebook is to clean the provided locations from the collected CSV files (via open data Toronto), retrieve their geolocations (via openstreetmaps and google api) and merge bus & streetcar data together into one file.

In [1]:
import pandas as pd
import glob
import googlemaps
from datetime import datetime
#from geopy.geocoders import Nominatim
from geopy.geocoders import Bing
from tqdm import tqdm
from geopy.extra.rate_limiter import RateLimiter
import time

## import and combine streetcar data

In [2]:
glob.glob('*.xlsx')

['ttc-streetcar-delay-data-2014.xlsx',
 'ttc-streetcar-delay-data-2015.xlsx',
 'ttc-streetcar-delay-data-2016.xlsx',
 'ttc-streetcar-delay-data-2017.xlsx',
 'ttc-streetcar-delay-data-2018.xlsx',
 'ttc-streetcar-delay-data-2019.xlsx',
 'ttc-streetcar-delay-data-2020.xlsx',
 'ttc-streetcar-delay-data-readme.xlsx']

In [3]:
df = pd.concat(pd.read_excel('ttc-streetcar-delay-data-2014.xlsx', sheet_name=None), ignore_index=True)
df1 = pd.concat(pd.read_excel('ttc-streetcar-delay-data-2015.xlsx', sheet_name=None), ignore_index=True)
df2 = pd.concat(pd.read_excel('ttc-streetcar-delay-data-2016.xlsx', sheet_name=None), ignore_index=True)
df3 = pd.concat(pd.read_excel('ttc-streetcar-delay-data-2017.xlsx', sheet_name=None), ignore_index=True)
df4 = pd.concat(pd.read_excel('ttc-streetcar-delay-data-2018.xlsx', sheet_name=None), ignore_index=True)
df5 = pd.concat(pd.read_excel('ttc-streetcar-delay-data-2019.xlsx', sheet_name=None), ignore_index=True)
df6 = pd.concat(pd.read_excel('ttc-streetcar-delay-data-2020.xlsx', sheet_name=None), ignore_index=True)

In [29]:
df_total = pd.concat([df, df1, df2, df3, df4, df5, df6])

df_total.shape

(82702, 13)

In [30]:
df_total.to_csv('StreetcarDelayData.csv')

In [31]:
df_total.head()

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,Incident ID,Delay,Gap
0,2014-01-02,505,06:31:00,Thursday,Dundas and Roncesvalles,Late Leaving Garage,4.0,8.0,E/B,4018.0,NaN,NaN,NaN
1,2014-01-02,504,12:43:00,Thursday,King and Shaw,Utilized Off Route,20.0,22.0,E/B,4128.0,NaN,NaN,NaN
2,2014-01-02,501,14:01:00,Thursday,Kingston road and Bingham,Held By,13.0,19.0,W/B,4016.0,NaN,NaN,NaN
3,2014-01-02,504,14:22:00,Thursday,King St. and Roncesvalles Ave.,Investigation,7.0,11.0,W/B,4175.0,NaN,NaN,NaN
4,2014-01-02,504,16:42:00,Thursday,King and Bathurst,Utilized Off Route,3.0,6.0,E/B,4080.0,NaN,NaN,NaN

In [37]:
df_total['Min Delay'] = df_total['Min Delay'].fillna(0)
df_total['Delay'] = df_total['Delay'].fillna(0)

In [40]:
df_total['Min Gap'] = df_total['Min Delay'].fillna(0)
df_total['Gap'] = df_total['Delay'].fillna(0)

In [38]:
df_total['Min Delay2'] = df_total['Min Delay'] + df_total['Delay']

In [41]:
df_total['Min Gap2'] = df_total['Min Gap'] + df_total['Gap']

In [44]:
df_total['Min Delay'] = df_total['Min Delay2']
df_total['Min Gap'] = df_total['Min Gap2']

In [50]:
df_total = df_total.drop(columns = ['Delay', 'Gap', 'Min Delay2', 'Min Gap2', 'Incident ID'])

In [51]:
df_total.to_csv('StreetcarDelayData.csv')

In [52]:
df_total

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2014-01-02,505,06:31:00,Thursday,Dundas and Roncesvalles,Late Leaving Garage,4.0,4.0,E/B,4018.0
1,2014-01-02,504,12:43:00,Thursday,King and Shaw,Utilized Off Route,20.0,20.0,E/B,4128.0
2,2014-01-02,501,14:01:00,Thursday,Kingston road and Bingham,Held By,13.0,13.0,W/B,4016.0
3,2014-01-02,504,14:22:00,Thursday,King St. and Roncesvalles Ave.,Investigation,7.0,7.0,W/B,4175.0
4,2014-01-02,504,16:42:00,Thursday,King and Bathurst,Utilized Off Route,3.0,3.0,E/B,4080.0
...,...,...,...,...,...,...,...,...,...,...
4172,2020-07-26,501,12:58:00,Sunday,QUEEN AND DUFFERIN,Mechanical,10.0,10.0,W/B,4422.0
4173,2020-07-27,301,02:09:00,Monday,QUEEN AND YORK,Mechanical,25.0,25.0,E/B,4514.0
4174,2020-07-27,306,02:20:00,Monday,Dundas West Station,Emergency Services,19.0,19.0,E/B,3129.0
4175,2020-08-03,504,00:56:00,Monday,Dufferin Loop,Mechanical,10.0,10.0,E/B,4464.0
4176,2020-08-03,501,23:42:00,Monday,Queen and Connaught (Russell Trailer Track),Investigation,10.0,10.0,W/B,4466.0

In [57]:
location = df_total['Location'].tolist()

In [58]:
location

['Dundas and Roncesvalles',
 'King and Shaw',
 'Kingston road and Bingham',
 'King St. and Roncesvalles Ave.',
 'King and Bathurst',
 'Queen and Beaconsfeild',
 'Roncesvalles and King Street West',
 'Spadina and St. Andrews',
 'Broadview and Queen',
 'Bathurst and St. Clair',
 'Queen and Roncesvalles',
 'King at Bathurst',
 'Queen and Roncesvalles',
 'Roncesvalles and Queen',
 'Bathurst at St. Clair',
 'Bathurst at St Clair',
 'Roncesvalles and Queen',
 'Roncevalles and Howard Park',
 'Bathurst and St Clair',
 'Roncesvalles and Howard Park',
 'King and Bathurst',
 'King at Bathurst',
 'Bathurst and St. Clair',
 'King at Bathurst',
 'King at Bathurst',
 'King at Bathurst',
 'Roncesvalles and Howard Park',
 'Queen and Roncesvalles',
 'Dundas West Station',
 'Roncesvalles and Howard Park',
 'King at Bathurst',
 'Queen and Roncesvalles',
 'Roncesvalles and Queen',
 'Queen St. E. and Rainsford',
 'Roncesvalles and Howard Park',
 'Roncesvalles and Queen',
 'Roncesvalles and Howard Park',
 'Queen and Roncesvalles',
 'Roncesvalles and Queen',
 'Kingston Road and Beech',
 'Kingston Road and Beech',
 'Roncesvalles and Howard Park',
 'Queen and Roncesvalles',
 'Queen and roncesvalles',
 'Roncesvalles and Howard Park',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Neville Loop',
 'College and McCaul',
 'St. Clair West Stn',
 'CNE Loop',
 'Humber Loop',
 'Queen and Connaught',
 'St. Clair and Spadina',
 'Gerard at Highfield',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Bathurst and St Clair',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Bathurst and St Clair',
 'Bathurst and King',
 'Bathurst and St Clair',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Bathurst and St Clair',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Queen and Lockwood',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Broadview Station',
 'St. Clair and Bathurst',
 'Queen and Roncevalles',
 'Bathurst and King',
 'Queen and Roncesvlles',
 'Queen and Connaught',
 'Bathurst and St. Clair',
 'Queen and Kingston Road',
 'Dundas West Station',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Connaught',
 'Dundas West Station',
 'St Clair and Bathurst',
 'St. Clair and Bathurst',
 'Roncesvalles and Queen',
 'Long Branch Avenue',
 'Roncesvalles and Howard Park',
 'Howard Park and Roncesvalles',
 'Bathurst and st. Clair',
 'Lakeshore and 5th',
 'Long Branch',
 'Lakeshore and Parklawn',
 'Bathurst and King',
 'Queen and Roncesvalles',
 'Dundas West Station',
 'Bathurst and St. Clair',
 'St. Clair and Bathurst',
 'St. Clair and Bathurst',
 'Bathurst and King',
 'Bathurst and King',
 'Roncesvalles and Howard Park',
 'Queen and Roncesvalles',
 'Bathurst and King',
 'Bathurst and King',
 'Wilson Yard',
 'Queen and Roncesvalles',
 'Roncesvalles and Howard Park',
 'Queen and Lockwood',
 'Roncesvalles and Howard Park',
 'Queen and Roncesvalles',
 'Roncesvalles and Howard Park',
 'Queen and Carlaw',
 'Howard Park and Roncesvalles',
 'Bathurst and Fleet',
 'St. Clair Station',
 'Route',
 'Howard Park and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Connaught',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen at Shaw',
 'St. Clair Station',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Lakeshore and Long Branch',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Roncesvalles and Queen',
 'Queen and Roncesvalles',
 'CNE Loop',
 'Queen and Connaught',
 'Queen and Connaught',
 'Lakeshore and Superior',
 'Queen and Roncesvalles',
 'Bathurst and St Clair',
 'Queen and Roncesvalles',
 'Roncesvalles and Queen',
 'Bathurst and King',
 'Roncesvalles and Queen',
 'Bathurst and St Clair',
 'Howard Park and Roncesvalles',
 'Roncesvalles and Queen',
 'Bathurst and St. Clair',
 'Bathursty and St Clair',
 'Bathurst and King',
 'Bathurst and St Clair',
 'Queen and Roncesvalles',
 'Dundas West Station',
 'Roncesvalles and Queen',
 'Bathurst and St Clair',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Dundas West Station',
 'Queen and Roncesvalles',
 'Roncevalles and Queen',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Bathurst and King',
 'Bathurst and King',
 'Bathurst and St Clair',
 'Bathurst and St Clair',
 'Dundas West Station',
 'Bathurst and St Clair',
 'Bathrust and St Clair',
 'Bathurst and St Clair',
 'Dundas West Station',
 'Bathurst and St Clair',
 'Howard Park and Roncesvalles',
 'Bathurst and King',
 'Bathurst and St Clair',
 'Howard Park and Roncesvalles',
 'Bathurst and St Clair',
 'Dundas West Station',
 'Bathurst and St. Clair',
 'Howard Park and Roncesvalles',
 'Howard Park and Roncesvalles',
 'Queen and Roncesvalles',
 'Howard Park and Roncesvalles',
 'Dundas West Station',
 'Roncesvalles and Queen',
 'Roncesvalles and Howard Park',
 'Roncesvalles and Howard Park',
 'Queen and Roncesvalles',
 'Roncesvalles and Howard Park',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Howard Park and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Broadview',
 'Queen and Broadview',
 'Dundas and Sackville',
 'Lakeshore and Mimico',
 'St Clair and Bathurst',
 'Dundas West Station',
 'Roncesvalles and Queen',
 'Bathurst and St. Clair',
 'Roncesvalles and Howard Park',
 'Roncesvalles and Queen',
 'St Clair and Bathurst',
 'St Clair and Bathurst',
 'Bathurst and King',
 'St Clair and Bathurst',
 'Queen and Roncesvalles',
 'Dundas West Station',
 'Roncesvalles and Queen',
 'St Clair and Bathurst',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Roncesvalles and Queen',
 'Dundas West Station',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Roncevalles',
 'Gerrard and Broadview',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Queen and Roncesvalles',
 'Queen and Roncesvalles',
 'Queen and Jameson.',
 'Bathurst and Dundas',
 'College and Euclid',
 'Dundas West Station to Broadview Station.',
 'Lakeshore and Legion',
 'Dundas and Broadview',
 'Gerrard and Woodbine',
 'Bathurst and Queen',
 'College and Brock',
 'Main and Danforthy',
 'Broadview and Dundas',
 'Roncesvalles and Marion',
 'St. Clair and Oakwood',
 'Lakeshore and Parklawn',
 'Queensway and Sunnyside',
 'St. Clair W and Gunns',
 'St. Clair W and Old Weston Rd.',
 'Spadina and Queen',
 'Broadview and Dundas',
 'Bathurst and King',
 'Main Stn.',
 'College and Beverley',
 'College and Sheridan',
 'St. Clair W and Bathurst',
 'Dundas West Stn to Broadview Stn',
 'College and Brock',
 'King and Bay',
 'Bathurst and Carr',
 'Bathurst and Bloor',
 'Fleet and Fork York',
 'CNE Loop',
 'Bathurst and Queen',
 'College and Lansdowne',
 'Broadview Stn to Dundas West Stn',
 'King and Queen',
 'Bathurst and King',
 'Queen and Carlaw',
 'Queen and Bay',
 'Dundas West Station to Church St.',
 'CNE Loop',
 'Bathurst and Front',
 'Harbord and Bay',
 'Lansdowne and College',
 'Wolseley Loop',
 'Bremner and Navy Wharf',
 'Spadina and Harbord',
 'Spadina Stn to King St',
 'King Route',
 nan,
 'Broadview and queen',
 'queen and Roncesvales',
 'queen and roncesvalles',
 'queen and Roincesvalles',
 'queen and roncesvalles',
 'Queen and Roncesvalles',
 'queen and roncesvalles',
 'College and Bathurst',
 'McCaul at Dundas',
 'College at Havelock',
 'Humber Loop to Neville',
 'Bathurst and ulster',
 'king and Feramanagh',
 'Queen and Shaw',
 'Exhibition loop',
 'Exhibition Loop',
 'Queen and Broadview',
 'queensway and Roncesvalles',
 'Bingham Loop',
 'Bingham Loop',
 'CNE Loop',
 'Dundas West Stn',
 'Howard Park and Parkside',
 'Queen and Connaught',
 'Broadview @ Dundas',
 'Lakeshore and 23rd Street',
 'Broadview @ Dundas',
 'Carlton and Sherborne',
 'St.Clair Stn',
 'Roncesnalles and Howard Pk',
 'King and Bathurst',
 'Russell Yard',
 'Queen and Roncesvalles',
 'Spadina Station',
 'Queen and Victoria',
 'Broadview Stn to Dundas W Stn',
 'Roncesvalles and Garden',
 'Queen and River',
 'Queen and River',
 'Queen and River',
 'Roncesvalles Yard',
 'Bathurst Stn to CNE',
 'King and Duffrin',
 'Roncesvalles and Grenadier',
 'Dundas W to Broadview Stn',
 'Queen and Abell',
 'Queen and Simcoe',
 'Gerrard and Carlaw',
 'Lakeshore and 31 Street',
 'CNE Loop',
 'CNE Loop',
 'Queen and Ossington',
 'McCaul and Dundas',
 'Roncesvalles Yard',
 'Bathurst Route',
 'College and McCaul',
 'Carlton Route',
 'King and Spencer',
 'Howard Park and Dundas',
 'Queen and Shaw',
 'Spadina and Dundas',
 'Roncesvalles and Marion',
 'Roncesvalles and Howard Park',
 'Gerard @ Pape',
 'Gerard and Logan',
 'Spadina Station',
 'Queen and Abell',
 'Queen and Lee',
 'Bathurst Station to CNE',
 'Roncesvalles Yard',
 'Roncesvalles Yard',
 'Roncesvalles car house',
 'Parliament and Queen',
 'King and Brant',
 'Broadview and Dundas',
 'Queen and Carlaw',
 'Gerrard and Coxwell',
 'Upper Gerrard and Golfview',
 'Roncesvalles Car House',
 'King and Duffrin',
 'Roncesvalles and Queen',
 'King and York',
 'Roncesvalles car house',
 'Roncesvalles car house',
 'Roncesvalles yard',
 'Roncesvalles car house',
 'Roncesvalles car house',
 'Roncesvalles car house',
 'Roncesvalles car house',
 'Roncesvalles car house',
 'King and Brant',
 'Bathurst and Fleet',
 'Queen and Broadview',
 'route',
 'Bathurst Station',
 'Queen and Jones',
 'Broadview and Dundas',
 'King and Close',
 'Broadview and Danforth',
 'Gerrard and Blackburn',
 'queen and woodbine',
 'Queen and Elmer',
 'Kingsmount and Upper Gerrard',
 'Bath and Richmond',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Main and Gerard',
 'Greenwood and Queen',
 'Greenwood to Long Branch',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Roncesvalles and Queen',
 'Gerard and Jarvis',
 'Parliament and Queen',
 'Dundas and Lansdowne',
 'Queen and Parliament',
 'Fleet and Fort York',
 'McCaul and Dundas',
 'Queen and River',
 'Queen and River',
 'Queen and River',
 'Wolesley Loop',
 'Roncesvalles Yard',
 'Queen and Roncesvalles',
 'Queen and Connaught',
 'Bathurst at Adelaide',
 'King and Wilson Park',
 'Roncesvalles Yard',
 'King Route',
 'King and Church',
 'Queen and Broadview',
 'College and Dovercourt',
 'route',
 'route',
 'Queen and Jones',
 'Humber Loop',
 'Queen and Sorauren',
 'Bathurst and Bloor',
 'CNE',
 'Bathurst Station',
 'College and Nassau',
 'College and Bay',
 'Main Station to High Park',
 'Parliament and Queen',
 'Queen and Parliament',
 'Queen and Parliament',
 'Bay and Adelaide',
 'Broadview Station',
 'Gerard and Broadview',
 'St. Clair and Old Weston',
 'roncesvales yard',
 'roncesvalles yard',
 'roncesvales yard',
 'Roncesvalles Yard',
 'dundas and college',
 'dundas and college',
 'king & jameson',
 'church and queen',
 'route',
 nan,
 'route',
 'roncesvales and queen',
 'queen / river',
 'Spadina and Dundas',
 'queen / church',
 'queen and roncesvales',
 'queen / pape',
 'Carlton and Yonge',
 'queen and lansdowne',
 'Gerard and DeGrassi',
 'bathurst and dundas',
 'church and wellington',
 'Route',
 'broadview station',
 'broadview station',
 nan,
 'queensway/roncesvales',
 'gerrard and woodbine',
 'fleet and strachan',
 'fleet and strachan',
 'carr/bathurst',
 'carlton/church',
 'queen/bathurst',
 'dundas/lisgar',
 'spadina / nassau',
 'route',
 'st clair /  earslcourt',
 'route',
 'queen / dovercourt',
 'queen / broadview',
 'queen / broadview',
 'queen / connaught',
 'mccaul /order',
 'king / bathurst',
 'dundas / parliament',
 'dundas / parliament',
 'queen / parliament',
 'gerrard / beachview',
 'queen / pape',
 'Rocny carhouse',
 'queen / victoria',
 'bathurst / king',
 'Gerrard and carlaw',
 'route',
 'bathurst / st clair',
 'roncy / queen',
 'roncy / queen',
 'route',
 'route',
 'route',
 'roncy / queen',
 'roncesvales / queen',
 'roncy / queen',
 'roncy / queen',
 'roncesvales / howard park',
 'Queen and Connaught',
 'queen and beaconsfield',
 'test',
 'Gerrard and Jones',
 'king / bay',
 'Gerreard @ parilment',
 'Howard Park and Roncesvalles',
 'Neville to Long Branch',
 'king  / yonge',
 'lakeshore / kipling',
 'route',
 'King and Roncesvalles',
 'King and Roncesvalles',
 'peter / adelaide',
 'rocy / howard',
 'Bathurst and King',
 'brenen / spadina',
 'roncy carhouse',
 'roncy carhouse',
 'route',
 'High Park Loop',
 'High Park Loop',
 'dundas / lansdowne',
 'Main Street at Danforth',
 'king  / dufferin',
 'Dundas West Station to Broadview Station',
 'route',
 'Broadview Station',
 'Queen and Roncesvalles',
 'Dundas and Parliament',
 'Queen and Connaught',
 'Lakeshore and Legion',
 'Queen and Spadina',
 'Queen@River',
 'Dundas and Beverly',
 'Bay and Front',
 'rout',
 'Lakeshore at 2nd',
 'Brodview St',
 'Dundas and Munro',
 'Dundas and Munro',
 'Spadina and Dundas',
 'Queen at Carlaw',
 'Queen and Carlaw',
 'CNE Loop',
 'King and Yonge St.',
 'Russell Yard',
 nan,
 'Coxwell & Gerrard',
 '505 Dundas',
 'Dundas and Roncesvalles',
 'Dufferin & College',
 'King @ Church',
 'Broadview and Dundas',
 'Bathurst and St Clair',
 'Dundas and Howard Park',
 'Roncesvalles and Queen St. W.',
 'Queen and Kingston',
 'Roncesvalles Yard',
 'Dundas and Howard Park',
 'Roncesvalles and Queen',
 'King Route',
 'Roncesvalles and Queen',
 'Humber Loop',
 'Main stn',
 'Broadview Stn to Dundas West Stn.',
 'Main stn',
 'Roncesvalles and Queen',
 'Dundas West to Broadview Station',
 'Queen and Lansdowne',
 'Queen and Lansdowne',
 'Broadview to Dundas West Station',
 'Queen and Roncesvalles',
 'Lakeshore and Burlington',
 'St Clair and Yonge Street',
 'Queen @ Broadview',
 'King at Dufferin',
 'Lakeshore at Humber',
 'Queen at River',
 'Dundas and Lansdowne',
 'College @ Bathurst',
 'Upper Gerrard @ woodbine',
 'Queen at Jarvis',
 'King and Sumach',
 'Lakeshore at 3RD',
 'QUEEN AT Ronceasvalles',
 'Dundas and Shaw',
 'CNE Eastern Loop',
 'King and parliament',
 'King and Parliament',
 'Broadview Station',
 'Queen at Empire',
 'Dundas and Ossington',
 'CNE Eastern Loop',
 'Dundas West Station',
 'Spadina Station',
 'CNE Loop',
 'Broadview and Gerrard',
 'Broadview Station',
 'CNE Loop',
 'Spadina Station',
 'Queen at Church',
 'Queen at Church',
 'Queen at Connaught',
 'Nevelle loop',
 'Roncesvalles Yard',
 'Roncesvalles Yard',
 'Roncesvalles Yard',
 'Roncesvalles Yard',
 'Roncesvalles & Queen Street West',
 'Bingham Loop',
 'King Route',
 'Queen at Roncesvalles',
 'Dundas West Station to Broadview Stn.',
 'Younge and St Clair',
 'Bathurst & Fleet Street',
 'Bath and Fleet',
 'CNE Eastern Loop',
 'Queen and Greenwood',
 'Lakeshore at 23rd',
 'Dundas and McCaul',
 'Bathurst and College',
 'here',
 'Bathurst and Harbord',
 'Dundas and Bay',
 'Parliament and Queen',
 'Queen & Parliament',
 'Queen at Spadina',
 'Dundas West Station',
 'Spadina and Sullivan',
 'Dundas West Station',
 'KING AT PRINCESS.',
 'Queen at Noble',
 'Ronce Yard',
 'Dundas and Roncesvalles',
 'Dundas and Bathurst',
 'Dundas West to Broadview Stn',
 'Queen and Connaught',
 'Queensway at Roncesvalles',
 'Broadview Station to Dundas West Station',
 'Queen at Strachan',
 'St Clair and Lansdowne',
 'McCaul and Dundas',
 'Dundas and Church',
 'Queen at Church',
 'Jones & Gerrard',
 'Dundas and Sherbourne',
 'Queen Route',
 'Bathurst and St Clair West',
 'Bathurst and College',
 'Dundas and St. Patrick',
 'Exhibition Loop',
 'McCaul and Queen',
 'Connaught and Queen',
 'Clinton and College',
 'Humber-Neville',
 'Long Branch Loop',
 'Roncesvalles Yard',
 'Roncesvalles Yard',
 'queen at kingston rd',
 'Roncesvalles Yard',
 'Roncesvalles Yard',
 'Bathurst St & King St',
 'Roncesvalles Yard',
 'Bathurst St and King St',
 'Bathurst St and St.Clair St West',
 'Roncesvalles and Queen street west',
 'Dundas West Stn',
 'CNE Eastern Loop',
 'Roncesvalles and Dundas Street Westq',
 'CNE Eastern Loop',
 'Russell Yard',
 'Dundas West Station to Broadview Station',
 'Dundas West to Broadview Stn',
 'king route',
 'Roncesvalles and Queen Street West',
 'Dundas and Spadina',
 'neville loop',
 'Roncesvalles & Queen Street West',
 'Roncesvalles and Queen St West',
 'Bay and Queens Quey',
 'Roncesvalles Yard',
 'Dundas route',
 'High park Loop',
 'King & Church',
 'Dundas and Victoria',
 'Queen @ Broadview',
 'Spadina Station',
 'Dundas and Dovercourt',
 'queen at connaught',
 'Gerrard@ Cowell',
 'Exhibition Loop',
 'Lakeshore and Dan Leckie',
 'Russell Yard',
 'Main Stn',
 'Queen and Connaught',
 'Queen @ Broadview',
 'Broadview to Dundas West Station',
 'Lansdowne and St Clair',
 'Bathurst and Queen',
 'Broadview @ Danforth',
 'Broadview Ave at Danforth Ave',
 'Queen at Beaty',
 'Dundas St, West of Roncesvalles',
 'Queen at Leslie',
 'Lakeshoe at Royal York',
 'St Clair and Vaughan',
 'Queen Street West and University Avenue',
 'King at the Queensway',
 'King and Queen (Roncesvalles)',
 'Queen Street East and Grant St.',
 'Broadview Avenue and Wolfrey Avenue',
 'Queen St. West and Roncesvalles',
 'St. Clair West Station',
 'collage at spadina',
 'Queen at Connaught',
 'Yonge and Dundas',
 'Gerrard at leslie',
 'Broadview STN',
 'Carlton and Sherbourne',
 'carlton at sherbroune',
 'Carlton and Sherbourne',
 'St.Clair W.St.',
 'Humber loop',
 'CNE Loop',
 'Queenat Ossington',
 'Spadina Station',
 'Roncesvalles Yard',
 'Roncesvalles Yard',
 'Queensway at Roncesvalles',
 'Bathurst station',
 'queen and broadview',
 'broadview and queen',
 'King and Shaw',
 'Queen & Parliament',
 'Queen and Church',
 'Queen and McCaul',
 'College and Bathurst',
 'St Clair @ Oakwood',
 'Queen and Bathurst',
 'Queen and Shaw',
 'Queen and Yonge',
 '505 Dundas',
 'Dundas @ Landsdowne',
 'DUNDAS @ DUFFERIN',
 'St Clair @ Weston Road',
 'DUNDAS @ BROADVIEW',
 'Birchmount Garage',
 'NEVILLE LOOP',
 'Birchmount Garage',
 'Bathurst & King',
 'Broadview/Gerrard',
 'Bathurst and Wolsley',
 'QUEEN AT UNIVERSITY',
 'Russell Traffic',
 'Roncesvalles & Howard Park',
 'Bathurst/St Clair',
 'Queensway & Roncesvalles',
 'DeGrassi & Gerrard',
 'Coxwell & Queen',
 'Queensway & Roncesvalles',
 'none',
 'Dundas West Station',
 'Dundas West Station',
 'CNE Eastern Loop',
 'Roncesvalles and Queen',
 'Roncesvalles/Quenn',
 'Dundas @ college',
 'Queen St. East and Logan Ave.',
 'Bloor Loop',
 's/b on mccaul at college',
 'Queen @ Sackville',
 'Queen @ Carlaw',
 'The Queensway and Roncesvalles Ave.',
 'Queen St. East and Neville Park Blvd.',
 'Queen St. West and Yonge St.',
 'Neville Park Loop',
 'Dundas west station',
 'King at Spencer',
 'Birchmount garage',
 'Roncevalles Yard',
 'Roncesvalles Yard',
 'Spadina at Adelaide',
 'Roncesvalles Yard',
 'Queen at Parliament',
 'Quen at Parliament',
 'Queen at Spadina',
 'bathurst station',
 'Queen at Mccaul',
 'here',
 'here',
 'Queen & Jamieson',
 'QUEEN AT DOWLING',
 'Bathurst @ Queen West',
 'Russell Carhouse',
 'College @ Bay Street',

In [63]:
len(location)

82702

# Import bus data and combine datasets
# Find long, lat coordinates

In [166]:
df_bus = pd.read_csv('BusDelayData_updated.csv')
df_st = pd.read_csv('StreetcarDelayData.csv')

In [167]:
print(df_bus.shape)
print(df_st.shape)

(479403, 11)
(82702, 11)

In [168]:
df_bus.describe()

,Unnamed: 0,Route,Min Delay,Min Gap,Vehicle
count,479403.000000,479403.000000,455863.000000,460895.000000,409515.000000
mean,37124.607172,120.442763,19.312943,29.327068,5601.028744
std,23136.356327,233.267134,71.212563,72.377669,3296.670030
min,0.000000,1.000000,-54.000000,-2.000000,0.000000
25%,17121.000000,38.000000,6.000000,12.000000,1602.000000
50%,35786.000000,72.000000,10.000000,20.000000,7654.000000
75%,55761.000000,116.000000,15.000000,30.000000,8317.000000
max,94216.000000,106117.000000,6518.000000,6528.000000,86175.000000

### create column for categorizing bus and streetcar prior to merging datasets

In [169]:
df_bus['vtype'] = 'bus'

df_bus

,Unnamed: 0,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,vtype
0,40771,2016-07-24,506,5:40:00,Sunday,Howardpark and Dundas,Diversion,6518.0,6528.0,B/W,7403.0,bus
1,18711,2015-03-19,32,5:00:00,Thursday,Eglinton and Richardson,Diversion,5775.0,5783.0,b/w,NaN,bus
2,15286,2014-02-19,73,18:22:00,Wednesday,ALBION & ISLINGTON,Diversion,3780.0,398.0,S,8044.0,bus
3,87495,2014-11-30,73,14:25:00,Sunday,LAROSE AND SCARLETT RD,Diversion,3380.0,368.0,S,8025.0,bus
4,63340,2014-09-02,172,10:37:00,Tuesday,Parliament and Front,Diversion,2430.0,2650.0,w,7830.0,bus
...,...,...,...,...,...,...,...,...,...,...,...,...
479398,22780,2020-07-06,134,12:09:00,Monday,Mammoth Trail/ Washburn way,Diversion,NaN,NaN,S/B,3506.0,bus
479399,23462,2020-07-12,84,14:59:00,Sunday,Sheppard W. STN,Mechanical,NaN,NaN,W/B,3616.0,bus
479400,23875,2020-07-17,52,11:18:00,Friday,Breacrest and The Westway,Mechanical,NaN,NaN,w/b,1230.0,bus
479401,24689,2020-07-26,52,20:54:00,Sunday,6900 AIRPORT RD (INTERNATIONAL CENTR,Investigation,NaN,NaN,E/B,8189.0,bus
479402,24890,2020-08-04,86,6:54:00,Tuesday,Kennedy,Late Leaving Garage - Operator,NaN,NaN,B/W,NaN,bus

In [170]:
df_st.describe()

         Unnamed: 0        Route     Min Delay       Min Gap        Vehicle
count  82702.000000  82702.00000  82702.000000  82702.000000   78017.000000
mean    6403.773488    500.58579     12.991149     12.991149    4405.915826
std     3969.042807     45.97742     31.790575     31.790575    1571.632994
min        0.000000      1.00000      0.000000      0.000000       0.000000
25%     2953.000000    501.00000      5.000000      5.000000    4079.000000
50%     6195.000000    505.00000      6.000000      6.000000    4178.000000
75%     9641.000000    509.00000     11.000000     11.000000    4425.000000
max    15611.000000    999.00000   1400.000000   1400.000000  163242.000000

In [171]:
df_st['vtype'] = 'streetcar'

df_st

,Unnamed: 0,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,vtype
0,0,2014-01-02,505,06:31:00,Thursday,Dundas and Roncesvalles,Late Leaving Garage,4.0,4.0,E/B,4018.0,streetcar
1,1,2014-01-02,504,12:43:00,Thursday,King and Shaw,Utilized Off Route,20.0,20.0,E/B,4128.0,streetcar
2,2,2014-01-02,501,14:01:00,Thursday,Kingston road and Bingham,Held By,13.0,13.0,W/B,4016.0,streetcar
3,3,2014-01-02,504,14:22:00,Thursday,King St. and Roncesvalles Ave.,Investigation,7.0,7.0,W/B,4175.0,streetcar
4,4,2014-01-02,504,16:42:00,Thursday,King and Bathurst,Utilized Off Route,3.0,3.0,E/B,4080.0,streetcar
...,...,...,...,...,...,...,...,...,...,...,...,...
82697,4172,2020-07-26,501,12:58:00,Sunday,QUEEN AND DUFFERIN,Mechanical,10.0,10.0,W/B,4422.0,streetcar
82698,4173,2020-07-27,301,02:09:00,Monday,QUEEN AND YORK,Mechanical,25.0,25.0,E/B,4514.0,streetcar
82699,4174,2020-07-27,306,02:20:00,Monday,Dundas West Station,Emergency Services,19.0,19.0,E/B,3129.0,streetcar
82700,4175,2020-08-03,504,00:56:00,Monday,Dufferin Loop,Mechanical,10.0,10.0,E/B,4464.0,streetcar
82701,4176,2020-08-03,501,23:42:00,Monday,Queen and Connaught (Russell Trailer Track),Investigation,10.0,10.0,W/B,4466.0,streetcar

In [172]:
# combine bus and streetcar
df_tot = pd.concat([df_bus, df_st])

In [173]:
df_tot.shape

(562105, 12)

In [174]:
df_tot.head(10)

,Unnamed: 0,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,vtype
0,40771,2016-07-24,506,5:40:00,Sunday,Howardpark and Dundas,Diversion,6518.0,6528.0,B/W,7403.0,bus
1,18711,2015-03-19,32,5:00:00,Thursday,Eglinton and Richardson,Diversion,5775.0,5783.0,b/w,NaN,bus
2,15286,2014-02-19,73,18:22:00,Wednesday,ALBION & ISLINGTON,Diversion,3780.0,398.0,S,8044.0,bus
3,87495,2014-11-30,73,14:25:00,Sunday,LAROSE AND SCARLETT RD,Diversion,3380.0,368.0,S,8025.0,bus
4,63340,2014-09-02,172,10:37:00,Tuesday,Parliament and Front,Diversion,2430.0,2650.0,w,7830.0,bus
5,40600,2016-07-23,63,6:00:00,Saturday,Dundas to Queen,Diversion,2422.0,10.0,BW,1055.0,bus
6,27691,2016-05-25,191,6:25:00,Wednesday,Highway 27 at Rexdale Blvd.,Diversion,2030.0,210.0,N/B,7913.0,bus
7,8374,2018-02-07,37,8:00:00,Wednesday,Islington staion -Humberwood loop - Steeles,General Delay,2030.0,50.0,B/W,NaN,bus
8,21617,2014-03-13,108,10:40:00,Thursday,Tuscan Gate and Sheppard Ave West,Diversion,1900.0,208.0,E,1331.0,bus
9,22834,2018-04-23,97,13:26:00,Monday,Yonge and NorthYork center,Diversion,1860.0,1890.0,SB,8183.0,bus

In [175]:
df_tot[df_tot['vtype'] == 'bus'].count()

Unnamed: 0     479403
Report Date    479403
Route          479403
Time           479403
Day            479403
Location       478609
Incident       478468
Min Delay      455863
Min Gap        460895
Direction      468818
Vehicle        409515
vtype          479403
dtype: int64

In [176]:
df_tot.tail()

,Unnamed: 0,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,vtype
82697,4172,2020-07-26,501,12:58:00,Sunday,QUEEN AND DUFFERIN,Mechanical,10.0,10.0,W/B,4422.0,streetcar
82698,4173,2020-07-27,301,02:09:00,Monday,QUEEN AND YORK,Mechanical,25.0,25.0,E/B,4514.0,streetcar
82699,4174,2020-07-27,306,02:20:00,Monday,Dundas West Station,Emergency Services,19.0,19.0,E/B,3129.0,streetcar
82700,4175,2020-08-03,504,00:56:00,Monday,Dufferin Loop,Mechanical,10.0,10.0,E/B,4464.0,streetcar
82701,4176,2020-08-03,501,23:42:00,Monday,Queen and Connaught (Russell Trailer Track),Investigation,10.0,10.0,W/B,4466.0,streetcar

In [177]:
df_tot = df_tot.drop(columns = 'Unnamed: 0')

In [178]:
df_tot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 562105 entries, 0 to 82701
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Report Date  562105 non-null  object
 1   Route        562105 non-null  int64
 2   Time         562105 non-null  object
 3   Day          562105 non-null  object
 4   Location     561048 non-null  object
 5   Incident     561170 non-null  object
 6   Min Delay    538565 non-null  float64
 7   Min Gap      543597 non-null  float64
 8   Direction    551211 non-null  object
 9   Vehicle      487532 non-null  float64
 10  vtype        562105 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 51.5+ MB

## convert report date to datetime format and create year, month and day columns
## convert time to time format to create hour and minute column

In [179]:
df_tot['Report Date'] = pd.to_datetime(df_tot['Report Date'])

In [180]:
df_tot.head(5)

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,vtype
0,2016-07-24,506,5:40:00,Sunday,Howardpark and Dundas,Diversion,6518.0,6528.0,B/W,7403.0,bus
1,2015-03-19,32,5:00:00,Thursday,Eglinton and Richardson,Diversion,5775.0,5783.0,b/w,NaN,bus
2,2014-02-19,73,18:22:00,Wednesday,ALBION & ISLINGTON,Diversion,3780.0,398.0,S,8044.0,bus
3,2014-11-30,73,14:25:00,Sunday,LAROSE AND SCARLETT RD,Diversion,3380.0,368.0,S,8025.0,bus
4,2014-09-02,172,10:37:00,Tuesday,Parliament and Front,Diversion,2430.0,2650.0,w,7830.0,bus

In [181]:
df_tot = df_tot.reset_index().drop(columns = 'index')

In [182]:
df_tot

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,vtype
0,2016-07-24,506,5:40:00,Sunday,Howardpark and Dundas,Diversion,6518.0,6528.0,B/W,7403.0,bus
1,2015-03-19,32,5:00:00,Thursday,Eglinton and Richardson,Diversion,5775.0,5783.0,b/w,NaN,bus
2,2014-02-19,73,18:22:00,Wednesday,ALBION & ISLINGTON,Diversion,3780.0,398.0,S,8044.0,bus
3,2014-11-30,73,14:25:00,Sunday,LAROSE AND SCARLETT RD,Diversion,3380.0,368.0,S,8025.0,bus
4,2014-09-02,172,10:37:00,Tuesday,Parliament and Front,Diversion,2430.0,2650.0,w,7830.0,bus
...,...,...,...,...,...,...,...,...,...,...,...
562100,2020-07-26,501,12:58:00,Sunday,QUEEN AND DUFFERIN,Mechanical,10.0,10.0,W/B,4422.0,streetcar
562101,2020-07-27,301,02:09:00,Monday,QUEEN AND YORK,Mechanical,25.0,25.0,E/B,4514.0,streetcar
562102,2020-07-27,306,02:20:00,Monday,Dundas West Station,Emergency Services,19.0,19.0,E/B,3129.0,streetcar
562103,2020-08-03,504,00:56:00,Monday,Dufferin Loop,Mechanical,10.0,10.0,E/B,4464.0,streetcar
562104,2020-08-03,501,23:42:00,Monday,Queen and Connaught (Russell Trailer Track),Investigation,10.0,10.0,W/B,4466.0,streetcar

In [183]:
df_tot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 562105 entries, 0 to 562104
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Report Date  562105 non-null  datetime64[ns]
 1   Route        562105 non-null  int64
 2   Time         562105 non-null  object
 3   Day          562105 non-null  object
 4   Location     561048 non-null  object
 5   Incident     561170 non-null  object
 6   Min Delay    538565 non-null  float64
 7   Min Gap      543597 non-null  float64
 8   Direction    551211 non-null  object
 9   Vehicle      487532 non-null  float64
 10  vtype        562105 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 47.2+ MB

In [184]:
df_tot['year'] = pd.DatetimeIndex(df_tot['Report Date']).year
df_tot['month'] = pd.DatetimeIndex(df_tot['Report Date']).month
df_tot['day'] = pd.DatetimeIndex(df_tot['Report Date']).day

In [185]:
import datetime as dt

df_tot['hour'] = pd.to_datetime(df_tot['Time']).dt.hour
df_tot['minute'] = pd.to_datetime(df_tot['Time']).dt.minute

In [186]:
df_tot['Location'].str.lower()

0                               howardpark and dundas
1                             eglinton and richardson
2                                  albion & islington
3                              larose and scarlett rd
4                                parliament and front
                             ...
562100                             queen and dufferin
562101                                 queen and york
562102                            dundas west station
562103                                  dufferin loop
562104    queen and connaught (russell trailer track)
Name: Location, Length: 562105, dtype: object

In [187]:
df_tot['Location'] = df_tot['Location'].str.lower()
df_tot['Incident'] = df_tot['Incident'].str.lower()
df_tot['Day'] = df_tot['Day'].str.lower()
df_tot['Direction'] = df_tot['Direction'].str.lower()

df_tot

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,vtype,year,month,day,hour,minute
0,2016-07-24,506,5:40:00,sunday,howardpark and dundas,diversion,6518.0,6528.0,b/w,7403.0,bus,2016,7,24,5,40
1,2015-03-19,32,5:00:00,thursday,eglinton and richardson,diversion,5775.0,5783.0,b/w,NaN,bus,2015,3,19,5,0
2,2014-02-19,73,18:22:00,wednesday,albion & islington,diversion,3780.0,398.0,s,8044.0,bus,2014,2,19,18,22
3,2014-11-30,73,14:25:00,sunday,larose and scarlett rd,diversion,3380.0,368.0,s,8025.0,bus,2014,11,30,14,25
4,2014-09-02,172,10:37:00,tuesday,parliament and front,diversion,2430.0,2650.0,w,7830.0,bus,2014,9,2,10,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562100,2020-07-26,501,12:58:00,sunday,queen and dufferin,mechanical,10.0,10.0,w/b,4422.0,streetcar,2020,7,26,12,58
562101,2020-07-27,301,02:09:00,monday,queen and york,mechanical,25.0,25.0,e/b,4514.0,streetcar,2020,7,27,2,9
562102,2020-07-27,306,02:20:00,monday,dundas west station,emergency services,19.0,19.0,e/b,3129.0,streetcar,2020,7,27,2,20
562103,2020-08-03,504,00:56:00,monday,dufferin loop,mechanical,10.0,10.0,e/b,4464.0,streetcar,2020,8,3,0,56
562104,2020-08-03,501,23:42:00,monday,queen and connaught (russell trailer track),investigation,10.0,10.0,w/b,4466.0,streetcar,2020,8,3,23,42

## Remove null values
## remove rows

In [188]:
df_tot.isnull().sum()

Report Date        0
Route              0
Time               0
Day                0
Location        1057
Incident         935
Min Delay      23540
Min Gap        18508
Direction      10894
Vehicle        74573
vtype              0
year               0
month              0
day                0
hour               0
minute             0
dtype: int64

In [189]:
df_tot.shape

(562105, 16)

In [190]:
df_tot = df_tot.dropna()

In [191]:
df_tot.isnull().sum()

Report Date    0
Route          0
Time           0
Day            0
Location       0
Incident       0
Min Delay      0
Min Gap        0
Direction      0
Vehicle        0
vtype          0
year           0
month          0
day            0
hour           0
minute         0
dtype: int64

In [192]:
df_tot.shape

(457900, 16)

## Clean location data first prior to retreiving lat and long coordinates

In [193]:
df_tot = df_tot.reset_index()

In [194]:
df_tot['Location'] = df_tot['Location'].str.replace('&', 'and')

In [195]:
df_tot['Location'] = df_tot['Location'].str.replace('stn', 'station')

In [196]:
df_tot['Location'] = df_tot['Location'].str.replace('ave', 'avenue')

In [197]:
df_tot['Location'] = df_tot['Location'].str.replace('str', 'street')

In [198]:
df_tot['Day'] = df_tot['Day'].str.capitalize()

In [199]:
df_tot['Direction'] = df_tot['Direction'].str.replace('/', '')

In [200]:
df_tot = df_tot.drop(columns = 'index')

In [201]:
df_tot['Vehicle'] = df_tot['Vehicle'].astype(int)

In [213]:
df_tot['Location'] = df_tot['Location'].str.replace('/', '')

In [240]:
df_tot['Location'] = df_tot['Location'].str.replace('#', '')
df_tot['Location'] = df_tot['Location'].str.replace('!', '')

In [237]:
df_tot.head(5)

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,vtype,year,month,day,hour,minute
0,2016-07-24,506,5:40:00,Sunday,howardpark and dundas,diversion,6518.0,6528.0,bw,7403,bus,2016,7,24,5,40
1,2014-02-19,73,18:22:00,Wednesday,albion and islington,diversion,3780.0,398.0,s,8044,bus,2014,2,19,18,22
2,2014-11-30,73,14:25:00,Sunday,larose and scarlett rd,diversion,3380.0,368.0,s,8025,bus,2014,11,30,14,25
3,2014-09-02,172,10:37:00,Tuesday,parliament and front,diversion,2430.0,2650.0,w,7830,bus,2014,9,2,10,37
4,2016-07-23,63,6:00:00,Saturday,dundas to queen,diversion,2422.0,10.0,bw,1055,bus,2016,7,23,6,0

In [397]:
df_tot['Location'].value_counts()[:20]

finch station              10493
kennedy station             9998
warden station              8138
downsview station           7369
eglinton station            7244
kipling station             7151
wilson station              6791
stc                         5390
main station                4827
broadview station           4761
pape station                4507
don mills station           3312
victoria park station       3280
keele station               3202
york mills station          2974
eglinton west station       2675
lawrence station            2652
scarborough town centre     2640
dundas west station         2398
bathurst station            2322
Name: Location, dtype: int64

In [245]:
location = df_tot['Location'].unique().tolist()

len(location)

76270

In [246]:
address= 'howardpark and dundas' + ' Toronto'
loc = geolocator.geocode(address)
if loc != None:
    print(loc.latitude, loc.longitude)
else:
    print(0)

0

## Use geopy first retrieve lat and long coordinates

In [314]:
geolocator = Nominatim(user_agent="my_user_agent")

latlist =[]
longlist =[]

for i in tqdm(location[:10000]):

    address= i + ', Toronto,' + ' Canada'
#    time.sleep(1)
    loc = geolocator.geocode(address)
    if loc != None:
        latlist.append(loc.latitude)
        longlist.append(loc.longitude)
    else:
        latlist.append(0)
        longlist.append(0)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10000/10000 [1:23:24<00:00,  2.00it/s]

In [315]:
geolocator = Nominatim(user_agent="my_user_agent")

latlist2 =[]
longlist2 =[]

for i in tqdm(location[10000:20000]):

    address= i + ', Toronto,' + ' Canada'
#    time.sleep(1)
    loc = geolocator.geocode(address)
    if loc != None:
        latlist2.append(loc.latitude)
        longlist2.append(loc.longitude)
    else:
        latlist2.append(0)
        longlist2.append(0)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10000/10000 [1:24:04<00:00,  1.98it/s]

In [316]:
geolocator = Nominatim(user_agent="my_user_agent")

latlist3 =[]
longlist3 =[]

for i in tqdm(location[20000:30000]):

    address= i + ', Toronto,' + ' Canada'
#    time.sleep(1)
    loc = geolocator.geocode(address)
    if loc != None:
        latlist3.append(loc.latitude)
        longlist3.append(loc.longitude)
    else:
        latlist3.append(0)
        longlist3.append(0)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10000/10000 [1:23:23<00:00,  2.00it/s]

In [317]:
geolocator = Nominatim(user_agent="my_user_agent")

latlist4 =[]
longlist4 =[]

for i in tqdm(location[30000:40000]):

    address= i + ', Toronto,' + ' Canada'
#    time.sleep(1)
    loc = geolocator.geocode(address)
    if loc != None:
        latlist4.append(loc.latitude)
        longlist4.append(loc.longitude)
    else:
        latlist4.append(0)
        longlist4.append(0)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10000/10000 [1:23:24<00:00,  2.00it/s]

In [318]:
geolocator = Nominatim(user_agent="my_user_agent")

latlist5 =[]
longlist5 =[]

for i in tqdm(location[40000:50000]):

    address= i + ', Toronto,' + ' Canada'
#    time.sleep(1)
    loc = geolocator.geocode(address)
    if loc != None:
        latlist5.append(loc.latitude)
        longlist5.append(loc.longitude)
    else:
        latlist5.append(0)
        longlist5.append(0)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10000/10000 [1:23:23<00:00,  2.00it/s]

In [319]:
geolocator = Nominatim(user_agent="my_user_agent")

latlist6 =[]
longlist6 =[]

for i in tqdm(location[50000:60000]):

    address= i + ', Toronto,' + ' Canada'
#    time.sleep(1)
    loc = geolocator.geocode(address)
    if loc != None:
        latlist6.append(loc.latitude)
        longlist6.append(loc.longitude)
    else:
        latlist6.append(0)
        longlist6.append(0)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10000/10000 [1:23:23<00:00,  2.00it/s]

In [320]:
geolocator = Nominatim(user_agent="my_user_agent")

latlist7 =[]
longlist7 =[]

for i in tqdm(location[60000:70000]):

    address= i + ', Toronto,' + ' Canada'
#    time.sleep(1)
    loc = geolocator.geocode(address)
    if loc != None:
        latlist7.append(loc.latitude)
        longlist7.append(loc.longitude)
    else:
        latlist7.append(0)
        longlist7.append(0)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10000/10000 [1:23:25<00:00,  2.00it/s]

In [321]:
geolocator = Nominatim(user_agent="my_user_agent")

latlist8 =[]
longlist8 =[]

for i in tqdm(location[70000:]):

    address= i + ', Toronto,' + ' Canada'
#    time.sleep(1)
    loc = geolocator.geocode(address)
    if loc != None:
        latlist8.append(loc.latitude)
        longlist8.append(loc.longitude)
    else:
        latlist8.append(0)
        longlist8.append(0)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6270/6270 [52:16<00:00,  2.00it/s]

In [322]:
latlist_total = latlist + latlist2 + latlist3 + latlist4 + latlist5 + latlist6 + latlist7 + latlist8
longlist_total = longlist + longlist2 + longlist3 + longlist4 + longlist5 + longlist6 + longlist7 + longlist8

print(len(latlist_total))
print(len(longlist_total))

76270
76270

In [323]:
d = {'location': location, 'lat': latlist_total, 'long': longlist_total}

In [324]:
df_location = pd.DataFrame(data = d)

df_location
print(len(df_location[df_location['lat'] != 0.000000]))
print(len(df_location[df_location['lat'] == 0.000000]))

#lat: 42
#long: 58

19094
57176

In [345]:
df_location[:40000][df_location['lat'] == 0.000000]

<ipython-input-345-e8620d7f1c99>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_location[:40000][df_location['lat'] == 0.000000]

                          location  lat  long
0            howardpark and dundas  0.0   0.0
2           larose and scarlett rd  0.0   0.0
5      highway 27 at rexdale blvd.  0.0   0.0
7       yonge and northyork center  0.0   0.0
8               bathurst and feets  0.0   0.0
...                            ...  ...   ...
39992         eglinton and thermos  0.0   0.0
39993        she4ppard and bayview  0.0   0.0
39996       bathurst and  antibies  0.0   0.0
39998        wavenuerlykingston rd  0.0   0.0
39999     queenquay and sherbourne  0.0   0.0

[29347 rows x 3 columns]

In [325]:
df_location.to_csv('location_coor.csv')

In [328]:
df_location

                          location        lat       long
0            howardpark and dundas   0.000000   0.000000
1             albion and islington  43.736643 -79.564858
2           larose and scarlett rd   0.000000   0.000000
3             parliament and front  43.651438 -79.362966
4                  dundas to queen  43.652732 -79.398948
...                            ...        ...        ...
76265  bradview and langley avenue   0.000000   0.000000
76266                 college shaw  43.670463 -79.383867
76267    cherry and eastern avenue   0.000000   0.000000
76268   college st west  rushholme   0.000000   0.000000
76269         roncevalles and king   0.000000   0.000000

[76270 rows x 3 columns]

In [329]:
latlist_g = df_location['lat'].tolist()
longlist_g = df_location['long'].tolist()

In [351]:
len(location)

76270

In [352]:
len(latlist_g)

76270

## Retrieve remaining missing lat and long coordinates using googlemaps API

In [410]:
latlist_g2 = []
longlist_g2 = []
location_g2 = []


for i,j,k in tqdm(zip(latlist_g, longlist_g, location)):
    
    try: 
        if i == 0:
            
            address_c = k + ', Toronto,' + ' Canada'

            gmaps = googlemaps.Client(key='')

            try: 
                geocode_result = gmaps.geocode(address_c)
                if geocode_result != []:
                    try:
                        lat = geocode_result[0]['geometry']['location']['lat']
                        #print(lat)
                        long = geocode_result[0]['geometry']['location']['lng']
                        #print(long)
                        latlist_g2.append(lat)
                        longlist_g2.append(long)
                        location_g2.append(k)
                    
                    except:
                        latlist_g2.append(i)
                        longlist_g2.append(j)
                        location_g2.append(k)   

                else: 
                    latlist_g2.append(i)
                    longlist_g2.append(j)
                    location_g2.append(k)      

            except:
                latlist_g2.append(i)
                longlist_g2.append(j)
                location_g2.append(k) 

        else:
            latlist_g2.append(i)
            longlist_g2.append(j)
            location_g2.append(k)

    except:
        latlist_g2.append(i)
        longlist_g2.append(j)
        location_g2.append(k) 
            
            

# Look up an address with reverse geocoding
#reverse_geocode_result = gmaps.reverse_geocode((40.714224, -73.961452))

# Request directions via public transit

76270it [10:18:49,  2.05it/s]

In [411]:
print(len(latlist_g2))
print(len(longlist_g2))

76270
76270

In [358]:
len(latlist_g)

76270

In [364]:
latlist_g

[0.0,
 43.7366425,
 0.0,
 43.6514382,
 43.6527322,
 0.0,
 43.752992,
 0.0,
 0.0,
 43.6871776,
 0.0,
 0.0,
 43.6481827,
 0.0,
 0.0,
 43.6602019,
 43.6659145,
 0.0,
 0.0,
 43.635240350000004,
 43.7061229,
 43.7074907,
 0.0,
 0.0,
 43.6485131,
 43.69009395,
 0.0,
 43.7230093,
 43.7894115,
 0.0,
 0.0,
 43.7053539,
 43.731752,
 43.731752,
 43.6482754,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.616890749999996,
 0.0,
 0.0,
 43.6516516,
 0.0,
 43.6853852,
 0.0,
 0.0,
 43.7341884,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.788073,
 0.0,
 43.6561162,
 0.0,
 0.0,
 43.649826,
 0.0,
 0.0,
 43.63794985,
 0.0,
 43.64984125,
 0.0,
 43.7176064,
 43.676735050000005,
 0.0,
 0.0,
 43.6577734,
 43.7901172,
 0.0,
 43.7322688,
 0.0,
 43.6548771,
 0.0,
 43.7749246,
 43.7594449,
 0.0,
 43.7812974,
 43.647942,
 0.0,
 0.0,
 0.0,
 0.0,
 43.7864156,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.70275905,
 43.7010547,
 43.6633629,
 0.0,
 0.0,
 43.6898368,
 43.6898368,
 43.67996425,
 43.67996425,
 43.663360499999996,
 43.678523999999996,
 0.0,
 0.0,
 0.0,
 43.7250043,
 0.0,
 43.7124469,
 0.0,
 43.6905269,
 0.0,
 0.0,
 0.0,
 43.6923702,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.648903,
 0.0,
 43.6722828,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.6701851,
 0.0,
 0.0,
 43.6736899,
 0.0,
 43.7754419,
 0.0,
 43.6747046,
 0.0,
 43.7412142,
 0.0,
 43.6655242,
 43.693235099999995,
 43.6737084,
 43.6827033,
 43.6588892,
 0.0,
 43.6537969,
 0.0,
 0.0,
 0.0,
 43.6370261,
 43.6408396,
 0.0,
 43.664994,
 43.6487685,
 43.8228165,
 0.0,
 43.6657674,
 43.6470712,
 43.6655242,
 0.0,
 0.0,
 0.0,
 43.7111204,
 43.6717743,
 43.7173019,
 0.0,
 43.6841534,
 43.6499177,
 0.0,
 43.6662205,
 0.0,
 0.0,
 43.7816666,
 43.7857924,
 43.7238711,
 43.7857924,
 43.7857924,
 43.7857924,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.7005778,
 0.0,
 0.0,
 0.0,
 43.6892874,
 0.0,
 43.7812974,
 43.689040750000004,
 0.0,
 43.6621386,
 43.8199228,
 43.6948696,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.7648045,
 0.0,
 43.6771489,
 43.727756,
 43.6864333,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.8199228,
 0.0,
 0.0,
 43.6864333,
 43.6839624,
 0.0,
 43.6404698,
 43.6280354,
 43.6370261,
 43.6864333,
 0.0,
 43.698728,
 0.0,
 0.0,
 0.0,
 43.6766981,
 43.6942921,
 43.7109952,
 0.0,
 0.0,
 43.6905768,
 0.0,
 0.0,
 43.671109,
 43.8199228,
 43.7059046,
 43.6365614,
 0.0,
 43.6999896,
 0.0,
 0.0,
 43.67996425,
 43.6650346,
 43.6717743,
 0.0,
 0.0,
 43.6909525,
 0.0,
 0.0,
 43.6660738,
 43.6841761,
 43.6878864,
 43.7061229,
 43.6541989,
 0.0,
 0.0,
 43.7257438,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.7061229,
 43.6731125,
 43.6773903,
 0.0,
 43.7291629,
 0.0,
 43.7291629,
 0.0,
 43.6731125,
 43.7266343,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.7761341,
 0.0,
 43.8250946,
 0.0,
 0.0,
 0.0,
 43.65474,
 43.6722828,
 0.0,
 43.6482754,
 0.0,
 43.7894241,
 0.0,
 0.0,
 0.0,
 43.6499177,
 0.0,
 0.0,
 0.0,
 43.7061229,
 43.7255141,
 0.0,
 0.0,
 0.0,
 43.7360608,
 0.0,
 43.698728,
 0.0,
 43.6771843,
 43.7299429,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.7724092,
 43.647003,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.7067479,
 0.0,
 43.647313,
 0.0,
 43.7171827,
 0.0,
 0.0,
 43.7344297,
 43.736349000000004,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.787505499999995,
 43.828262,
 0.0,
 43.68264655,
 43.6974725,
 43.789786,
 43.7871002,
 0.0,
 43.745179,
 0.0,
 0.0,
 43.6482754,
 43.685433,
 0.0,
 43.7637994,
 0.0,
 0.0,
 43.6769167,
 43.7414536,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.6756324,
 0.0,
 43.732429,
 43.6643795,
 43.72757705,
 43.664994,
 43.65048855,
 0.0,
 43.774819199999996,
 43.6619695,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.631408449999995,
 43.72419,
 0.0,
 0.0,
 43.719982099999996,
 0.0,
 0.0,
 0.0,
 43.7812974,
 0.0,
 43.6335375,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.6963037,
 0.0,
 0.0,
 43.7071319,
 0.0,
 43.6534817,
 0.0,
 43.7812974,
 43.6385616,
 43.7225532,
 43.651646,
 0.0,
 43.7180639,
 0.0,
 43.6898608,
 0.0,
 0.0,
 43.6833017,
 43.7704537,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.7685813,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.7706952,
 0.0,
 43.7511655,
 0.0,
 43.7303136,
 43.7234336,
 0.0,
 43.6856718,
 0.0,
 43.6655242,
 43.6516516,
 0.0,
 43.6854004,
 0.0,
 0.0,
 0.0,
 0.0,
 43.715347550000004,
 0.0,
 0.0,
 0.0,
 43.63899205,
 0.0,
 0.0,
 43.7980056,
 0.0,
 0.0,
 0.0,
 43.6968294,
 43.6609475,
 43.7785575,
 0.0,
 43.6669329,
 43.6641106,
 43.7171576,
 43.7852223,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.7446411,
 43.7446411,
 43.6650346,
 43.8082919,
 43.7295374,
 43.6838293,
 43.7191817,
 0.0,
 43.790907000000004,
 0.0,
 43.6930868,
 43.6677292,
 43.659659,
 43.7084166,
 43.7082859,
 43.6408396,
 0.0,
 43.7463678,
 0.0,
 0.0,
 43.7313031,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.6978529,
 0.0,
 43.6900525,
 0.0,
 43.6537969,
 0.0,
 43.634791250000006,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.736855,
 0.0,
 0.0,
 43.7704537,
 0.0,
 0.0,
 0.0,
 0.0,
 43.7392008,
 0.0,
 0.0,
 0.0,
 43.780339,
 43.8161778,
 43.7083105,
 43.7084166,
 0.0,
 0.0,
 43.7360608,
 43.7608433,
 0.0,
 0.0,
 0.0,
 43.6460412,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.6565367,
 43.7061229,
 0.0,
 0.0,
 0.0,
 43.6529083,
 0.0,
 43.7153301,
 0.0,
 0.0,
 43.7989372,
 0.0,
 0.0,
 43.7696247,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.6569564,
 0.0,
 0.0,
 43.6923175,
 43.8082042,
 43.7344361,
 43.658473,
 0.0,
 43.7061229,
 0.0,
 0.0,
 43.6655995,
 43.659659,
 0.0,
 0.0,
 43.6595205,
 43.6593026,
 0.0,
 0.0,
 0.0,
 43.7342858,
 0.0,
 0.0,
 43.7412142,
 0.0,
 0.0,
 0.0,
 43.6420447,
 43.6863861,
 43.6841534,
 0.0,
 0.0,
 43.7865183,
 0.0,
 0.0,
 43.8051745,
 43.7936736,
 43.7673292,
 0.0,
 0.0,
 0.0,
 43.8063401,
 43.6404664,
 0.0,
 0.0,
 43.7668074,
 0.0,
 0.0,
 0.0,
 43.7339379,
 43.66123,
 43.7870603,
 43.6517026,
 0.0,
 43.777824,
 43.823488,
 43.66766,
 43.5986312,
 0.0,
 0.0,
 43.6582807,
 43.6565367,
 0.0,
 43.6879512,
 43.6517776,
 0.0,
 0.0,
 0.0,
 43.6692759,
 0.0,
 0.0,
 43.6653607,
 43.7250339,
 0.0,
 43.6478977,
 0.0,
 0.0,
 0.0,
 43.733809,
 43.7286017,
 43.6964834,
 0.0,
 0.0,
 43.7005532,
 43.7069277,
 43.6573843,
 43.6650346,
 0.0,
 43.7412142,
 43.6466908,
 0.0,
 0.0,
 0.0,
 43.6569564,
 0.0,
 0.0,
 0.0,
 43.68285675,
 0.0,
 0.0,
 0.0,
 0.0,
 43.776858000000004,
 43.7852223,
 0.0,
 0.0,
 0.0,
 0.0,
 43.74809105,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.670010250000004,
 0.0,
 43.7571004,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.6783008,
 0.0,
 0.0,
 0.0,
 0.0,
 43.6954005,
 43.6381324,
 0.0,
 0.0,
 0.0,
 43.7812167,
 43.7130211,
 43.776858000000004,
 0.0,
 0.0,
 43.7084166,
 0.0,
 43.6859343,
 0.0,
 43.6757485,
 43.7749499,
 43.66720745,
 0.0,
 0.0,
 0.0,
 43.7751456,
 0.0,
 0.0,
 43.664994,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.7704537,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.6602019,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.6577734,
 0.0,
 0.0,
 0.0,
 0.0,
 43.639157,
 0.0,
 43.6773903,
 0.0,
 43.8162261,
 43.8156872,
 43.74954365,
 0.0,
 0.0,
 0.0,
 43.7130211,
 0.0,
 0.0,
 0.0,
 43.67996425,
 0.0,
 0.0,
 43.6645281,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.63277135,
 43.6186461,
 43.6400623,
 43.7663561,
 0.0,
 0.0,
 0.0,
 43.7815322,
 0.0,
 43.6994534,
 43.66565185,
 0.0,
 0.0,
 43.8162261,
 0.0,
 0.0,
 43.7440409,
 0.0,
 43.7325153,
 0.0,
 0.0,
 43.7087855,
 43.7691846,
 43.669921,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.7596496,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.7188825,
 0.0,
 0.0,
 0.0,
 43.6400623,
 0.0,
 0.0,
 43.6669073,
 0.0,
 0.0,
 43.6890238,
 0.0,
 43.6888251,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.6833017,
 43.7685895,
 0.0,
 0.0,
 0.0,
 43.8166092,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.6701851,
 0.0,
 43.786871,
 0.0,
 43.6565367,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.8017005,
 43.6329775,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.6137316,
 43.704553,
 43.676345,
 43.676345,
 43.7370294,
 43.7685813,
 43.77301,
 43.741592,
 0.0,
 43.6770793,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.7327006,
 43.6641106,
 0.0,
 0.0,
 0.0,
 43.6609228,
 0.0,
 43.736855,
 0.0,
 0.0,
 43.8041934,
 43.6739267,
 0.0,
 0.0,
 0.0,
 43.6599375,
 43.8042442,
 43.7108426,
 0.0,
 0.0,
 0.0,
 0.0,
 43.8156872,
 0.0,
 0.0,
 43.6464662,
 0.0,
 0.0,
 43.648658,
 43.6384121,
 0.0,
 0.0,
 0.0,
 43.685302533333335,
 43.6805089,
 0.0,
 0.0,
 43.7272993,
 0.0,
 0.0,
 43.7858417,
 0.0,
 43.7370294,
 0.0,
 43.7263483,
 0.0,
 0.0,
 43.6568809,
 0.0,
 43.6758912,
 43.7818636,
 0.0,
 0.0,
 0.0,
 43.7537633,
 0.0,
 0.0,
 43.70292115,
 43.7818636,
 43.6816776,
 0.0,
 43.6685404,
 0.0,
 43.8097303,
 43.645335,
 0.0,
 0.0,
 43.6838373,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.8091807,
 43.74299675,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 43.8191938,
 43.768209,
 43.7704537,
 0.0,
 0.0,
 ...]

In [359]:
len(longlist_g)

76270

In [412]:
len(latlist_g2)

76270

In [413]:
len(longlist_g2)

76270

In [362]:
len(location)

76270

In [414]:
d = {'location': location, 'lat': latlist_g2, 'long': longlist_g2}

In [418]:
df_location = pd.DataFrame(data = d)

df_location.set_index('location')

df_location = df_location.rename(columns = {'location': 'Location'})
df_location.set_index('Location')

                                   lat       long
Location
howardpark and dundas        43.652162 -79.448173
albion and islington         43.736643 -79.564858
larose and scarlett rd       43.686860 -79.513081
parliament and front         43.651438 -79.362966
dundas to queen              43.652732 -79.398948
...                                ...        ...
bradview and langley avenue  43.667812 -79.353345
college shaw                 43.670463 -79.383867
cherry and eastern avenue    43.653834 -79.358610
college st west  rushholme   43.655219 -79.413860
roncevalles and king         43.638789 -79.446111

[76270 rows x 2 columns]

In [416]:
df_location.loc[39999]

Location    queenquay and sherbourne
lat                          43.6453
long                        -79.3653
Name: 39999, dtype: object

In [394]:
latlist_g2[39999]

43.7605272

## random test case for coordinates

In [391]:
df_location[df_location['Location'] == 'sloane and sweeney']

                Location        lat       long
2466  sloane and sweeney  43.749217 -79.510386

In [392]:
df_location[df_location['Location'] == 'exhibition place']

              Location        lat       long
2468  exhibition place  43.672473 -79.467535

## Combine location data to bus and streetcar data using location common column

In [419]:
df_tot_v1 = pd.merge(df_tot, df_location)

In [420]:
df_tot_v1

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,vtype,year,month,day,hour,minute,lat,long
0,2016-07-24,506,5:40:00,Sunday,howardpark and dundas,diversion,6518.0,6528.0,bw,7403,bus,2016,7,24,5,40,43.652162,-79.448173
1,2014-02-19,73,18:22:00,Wednesday,albion and islington,diversion,3780.0,398.0,s,8044,bus,2014,2,19,18,22,43.736643,-79.564858
2,2016-02-01,73,7:12:00,Monday,albion and islington,diversion,53.0,68.0,e,8049,bus,2016,2,1,7,12,43.736643,-79.564858
3,2015-08-17,73,22:29:00,Monday,albion and islington,diversion,20.0,41.0,e,7956,bus,2015,8,17,22,29,43.736643,-79.564858
4,2015-10-18,37,11:28:00,Sunday,albion and islington,mechanical,20.0,40.0,sb,7901,bus,2015,10,18,11,28,43.736643,-79.564858
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457895,2020-07-19,504,12:05:00,Sunday,bradview and langley avenue,held by,110.0,110.0,wb,4580,streetcar,2020,7,19,12,5,43.667812,-79.353345
457896,2020-07-19,506,12:59:00,Sunday,college shaw,investigation,8.0,8.0,eb,8517,streetcar,2020,7,19,12,59,43.670463,-79.383867
457897,2020-07-19,504,13:40:00,Sunday,cherry and eastern avenue,overhead - pantograph,28.0,28.0,eb,4532,streetcar,2020,7,19,13,40,43.653834,-79.358610
457898,2020-07-19,506,14:23:00,Sunday,college st west rushholme,emergency services,30.0,30.0,eb,8057,streetcar,2020,7,19,14,23,43.655219,-79.413860
457899,2020-07-21,504,11:25:00,Tuesday,roncevalles and king,mechanical,1.0,1.0,eb,4566,streetcar,2020,7,21,11,25,43.638789,-79.446111

In [421]:
df_tot_v1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 457900 entries, 0 to 457899
Data columns (total 18 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Report Date  457900 non-null  datetime64[ns]
 1   Route        457900 non-null  int64
 2   Time         457900 non-null  object
 3   Day          457900 non-null  object
 4   Location     457900 non-null  object
 5   Incident     457900 non-null  object
 6   Min Delay    457900 non-null  float64
 7   Min Gap      457900 non-null  float64
 8   Direction    457900 non-null  object
 9   Vehicle      457900 non-null  int32
 10  vtype        457900 non-null  object
 11  year         457900 non-null  int64
 12  month        457900 non-null  int64
 13  day          457900 non-null  int64
 14  hour         457900 non-null  int64
 15  minute       457900 non-null  int64
 16  lat          457900 non-null  float64
 17  long         457900 non-null  float64
dtypes: datetime64[ns](1), float64(4), int32(1), int64(6), object(6)
memory usage: 64.6+ MB

In [422]:
df_tot_v1.to_csv('BusandStreetcarDelayData_v2.csv')